link(rel='stylesheet', href='/style.css')
link(rel="stylesheet",href="/clearfix.css")

body
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  section(class="main cf")
    h1 Welcome to Mantronic

    div(class="reelspace")
      div(class="pictureReel cf")

    div(class="arrivalspace cf")
      div(class="arrivalReel cf")

    div(class="clearancespace cf")
      div(class="clearanceReel cf")
    
  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script(src='/logo.js')
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}";
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions;
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();    
  script(src='/build.js')
  script(src='/categories.js')
  script.
    var tallest = '';
    var reelspaceW = $(".reelspace").width();
    $(window).on("resize",function(){
      $(".reelspace").css({"height": reelspaceW * 6/16});
      var picReel = $(".pictureReel").children().length
      $(".imagereel"+" .reelCaption").css({"height": 1*100/picReel+"%"});
      var widtha = Math.ceil($(".arrival").width());
      $(".arrival").css({"height": widtha});
      var widthc = Math.ceil($(".clearance").width());
      $(".clearance").css({"height": widthc});
      var heighta = $(".imgdiv").height()+$(".clearancePrice").height()+$(".clearanceId").height()+$(".clearanceName").height();
      $(".clearanceReel").css({"height":heighta});
      var heighta = $(".imgdiv").height()+$(".arrivalPrice").height()+$(".arrivalId").height()+$(".arrivalName").height();
      $(".arrivalReel").css({"height":heighta});
    });
    $(".reelspace").css({"height": reelspaceW * 6/16});
    $.ajax({
      type:"GET",
      dataType:"JSON",
      url:"http://"+serverIP+"/homepagereel",
      success:function(res){
        console.log(res);
        for(var i = 0; i < res.length; i++){
          appendreel(res[i].imagename,res[i].imagefile,res[i].imagecaption,res[i].imagedesc,i);
          $(".imagereel"+i+" .reelCaption").css({"height": 1*100/res.length+"%", "top": i*100/res.length+"%"});
        }
        var reelCounter = 0;
        setInterval(function(){
          if(reelCounter < res.length-1){
            var next = reelCounter + 1;
            $(".imagereel"+reelCounter+" .reelDesc").addClass("invisHome");
            $(".imagereel"+reelCounter+" img").addClass("invisHome");
            $(".imagereel"+next+" .reelDesc").removeClass("invisHome");
            $(".imagereel"+next+" img").removeClass("invisHome");
            $(".imagereel"+next+" .reelCaption").addClass("selected");
            $(".imagereel"+reelCounter+" .reelCaption").removeClass("selected")
            reelCounter++;
          } else {
            var next = 0;
            $(".imagereel"+reelCounter+" .reelDesc").addClass("invisHome");
            $(".imagereel"+reelCounter+" img").addClass("invisHome");
            $(".imagereel"+next+" .reelDesc").removeClass("invisHome");
            $(".imagereel"+next+" img").removeClass("invisHome");
            $(".imagereel"+next+" .reelCaption").addClass("selected");
            $(".imagereel"+reelCounter+" .reelCaption").removeClass("selected");
            reelCounter = 0;
          }

        },2000);
      }
    });
    $.ajax({
      type:"GET",
      dataType:"JSON",
      url:"http://"+serverIP+"/homepagearrivals",
      success: function(res){
        console.log(res);
        var $title = $("<h2>").text("New Arrivals");
        $(".arrivalspace").prepend($title);
        for(var i = 0; i < res.length; i++){
          appendarrivals(res[i].itemname, res[i].itempic, res[i].price, res[i].itemnumb, res[i].itemid, res[i].itemcatnumb, i);
        }
        var heighta = $(".imgdiv").height()+$(".arrivalPrice").height()+$(".arrivalId").height()+$(".arrivalName").height();
        $(".arrivalReel").css({"height":heighta});
        arrivalbutton("arrivalReel", "arrival");
      }
    });
    $.ajax({
      type:"GET",
      dataType:"JSON",
      url:"http://"+serverIP+"/homepageclearance",
      success: function(res){
        console.log(res);
        var $title = $("<h2>").text("Clearance Items");
        $(".clearancespace").prepend($title);
        for(var i = 0; i < res.length; i++){
          appendclearance(res[i].itemname, res[i].itempic, res[i].price, res[i].newprice, res[i].itemnumb, res[i].itemid, res[i].itemcatnumb, i);
        }
        var heighta = $(".imgdiv").height()+$(".clearancePrice").height()+$(".clearanceId").height()+$(".clearanceName").height();
        $(".clearanceReel").css({"height":heighta});
        arrivalbutton("clearanceReel", "clearance");
      }
    });

    function appendreel(name, file, caption, desc, number){
      var $div = $("<div>").addClass("imagereel imagereel"+number);
      var $img = $("<img>").attr("src","/uploads/"+file+".jpg");
      var $pCaption = $("<p>").addClass("reelCaption").text(caption);
      var $pDesc = $("<p>").addClass("reelDesc").text(desc);
      if(number !== 0){
        $img.addClass("invisHome");
        $pDesc.addClass("invisHome");
      } else {
        $pCaption.addClass("selected");
      }
      console.log(number);
      $div.append($img, $pDesc, $pCaption);
      $(".pictureReel").append($div);
    }
    function appendarrivals(name, file, price, itemnumb, itemid, catnumb, number){
      var $div = $("<div>").addClass("arrival arrival"+ number).attr("id","arrival"+number);
      var $aName = $("<a>").attr("href","/category/"+catnumb+"/products/"+itemnumb).addClass("arrivalName").text(name);
      var $pId = $("<p>").addClass("arrivalId").text(itemid);
      var $pPrice = $("<p>").addClass("arrivalPrice").text("$"+price);
      var $a = $("<a>").attr("href","/category/"+catnumb+"/products/"+itemnumb);
      var $img = $("<img>").attr("src","/uploads/"+file+".jpg");
      var $imgdiv = $("<div>").append($img).addClass("imgdiv");
      $a.append($imgdiv);
      $div.append($a, $aName, $pId, $pPrice);
      $(".arrivalReel").append($div);
      var width = Math.ceil($(".arrival"+number).width());
      $(".arrival"+number).css({"height": width});
      var length = 5;
      var posLeft = number*100/length;
      $(".arrival"+number).css({"left": posLeft+"%"});
      if(number == length){
        var $left = $("<button>").addClass("leftbutton").text("<");
        var $right = $("<button>").addClass("rightbutton").text(">");
        $(".arrivalReel").append($left, $right);
      }
      if(number >= length){
        $("#arrival"+number).css({"left":"100%"});
      }
    }
    
    function appendclearance(name, file, price, newprice, itemnumb, itemid, catnumb, number){
      var $div = $("<div>").addClass("clearance clearance"+ number).attr("id","clearance"+number);
      var $aName = $("<a>").attr("href","/category/"+catnumb+"/products/"+itemnumb).addClass("clearanceName").text(name);
      var $pId = $("<p>").addClass("clearanceId").text(itemid);
      var $pPrice = $("<p>").addClass("clearancePrice");
      var $oldPrice = $("<strike>").text("$"+price+" ");
      var $newPrice = $("<span>").text("$"+newprice).css({"color": "red"});
      $pPrice.append($oldPrice, $newPrice);
      var $a = $("<a>").attr("href","/category/"+catnumb+"/products/"+itemnumb);
      var $img = $("<img>").attr("src","/uploads/"+file+".jpg");
      var $imgdiv = $("<div>").append($img).addClass("imgdiv");
      $a.append($imgdiv);
      $div.append($a, $aName, $pId, $pPrice);
      $(".clearanceReel").append($div);
      var width = Math.ceil($(".clearance"+number).width());
      $(".clearance"+number).css({"height": width});
      var length = 5;
      var posLeft = number*100/length;
      $(".clearance"+number).css({"left": posLeft+"%"});
      if(number == length){
        var $left = $("<button>").addClass("leftbutton").text("<");
        var $right = $("<button>").addClass("rightbutton").text(">");
        $(".clearanceReel").append($left, $right);
      }
      if(number >= length){
        $("#clearance"+number).css({"left":"100%"});
      }
    }
    function arrivalbutton(parent, selector){
      $("."+parent+" .leftbutton").prop("disabled",true);
      var start = 0;
      var length = 5;
      var end = start+length;
      $("."+parent+" .rightbutton").on("click",function(){
        for(var i = 0; i <= length; i++){
          var box = start + i;
          console.log(start, box);
          if(document.getElementById(selector+box)){
            var rect = document.getElementById(selector+box).getBoundingClientRect();
            var width = rect.right - rect.left;
            var newPos = rect.left-width;
            $("#"+selector+box).css({"left": newPos-50});
            $("."+parent+" .rightbutton").prop("disabled",true);
          }
        }
        start++;
        $("."+parent+" .leftbutton").prop("disabled",false);
      });
      $("."+parent+" .leftbutton").on("click",function(){
        for(var i = 0; i <= length; i++){
          var box = start + i-1;
          if(document.getElementById(selector+box)){
            var rect = document.getElementById(selector+box).getBoundingClientRect();
            var width = rect.right - rect.left;
            var newPos = rect.left+width;
            console.log(width, newPos, rect.left, rect.right);
            $("#"+selector+box).css({"left": newPos-50});
          }
        }
        start--;
        if(start == 0){
          $("."+parent+" .leftbutton").prop("disabled",true);
        }
        $("."+parent+" .rightbutton").prop("disabled",false);
      });
    }
  script(src='/close.js')
