link(rel='stylesheet', href='/style.css')


body

  p(class='login')
    a(href='/login') Log in as user
  h1 #{companyname}
  p this is my page
  p
    a(href='/new') New updates
  p  
    a(href='/category') categories

  div(class='catList') Category List
    
  script(src='/jquery-1.11.3.js')

  script.
    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://localhost:3000/getcategories',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        for(var i = 0; i < res.length; i++){
          appendp(res[i].catname,res[i].catnumb);
          console.log(i);
        }
      }
    })
    
    function appendp(name, numb){
      var $a = $("<a>").text(name).attr("href","/category/"+numb+"/products");
      var $p = $("<p>").append($a);
      $(".catList").append($p);
    }

  script(src='/js/home.js')