body
  h1 Create New Category
  form(class="newCat",action="category/success",method="post",enctype="multipart/form-data")
    div
      p New Category Name
      input(class="newCatName",type="text",name="catName")
      
    div
      p Category Description
      input(class="newCatDesc",type="text",name="catDesc")
      
    input(type="submit",value="Create Category",name="submit")

    div(class="completion")
      p  Hit create to complete

  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script.
    var catItem = {};
    $('.newCat').on('submit',function(e){
      e.preventDefault();
      var catName = $('.newCatName').val();
      var catDesc = $('.newCatDesc').val();
      catItem.catName = catName;
      catItem.catDesc = catDesc;
      $.ajax({
        type:'POST',
        data:JSON.stringify(catItem),
        contentType: 'application/json',
        url:'http://'+serverIP+'/new/category/success',
        success: function(res){
          console.log('success');
          console.log(JSON.stringify(res));
          var $p = $("<p>").text("Categories updated!");
          $(".completion").append($p);
        }
      })

    })
  

  script(src='/views/js/newCat.js')  