link(rel="stylesheet", href="/style.css")
link(rel="stylesheet",href="/clearfix.css")
body
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact Us
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
    p
    
  section(class="main")
    div(class="newitemspace")
      h1 Create New Item
      form(class="newItem",enctype="multipart/form-data")
  
        div
          p New Item Name:
          input(class="newItemName",type="text",name="itemName")
        div
          p Item Code / Catalogue Number / ID number:
          input(class="newItemId",type="text",name="itemId")
        div
          p Short Item Description:
          input(class="newItemDesc",type="text",name="itemDesc")
        div
          p Long item Description:
          textarea(rows="4",cols="60")
        div
          p Item Price (if you do not with to enter a price, enter 0):
          input(class="newItemPrice",type="number",name="itemPrice",value=0)
        div
          p In category:
          select(class="newItemCat")
        input(type="submit",value="Save Fields",name="saveFields")

        div(class="completion")
          span Hit 'Save Fields' to save and create this item and add a picture.

      form(class="upload hiddenForm",enctype="multipart/form-data")
        span Upload picture? 
        input(type="submit",value="Open picture selection",name="select" disabled)
    
      form(class="itemPic hiddenForm",action="picupload",method="post",enctype="multipart/form-data")
        p
          input(type="file",name="itemPic")
        p  
          input(type="submit",value="Upload Picture",name="submit" disabled)

  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script(src='/logoStill.js')
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}";
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions;
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();    
  script(src="/build.js")
  script(src="/categories.js")
  
  script.
    var newItem = {};
    $('.newItem').on('submit',function(e){
      e.preventDefault();
      var itemName = $(".newItemName").val();
      var itemId = $(".newItemId").val();
      var itemDesc = $(".newItemDesc").val();
      var itemDescLong = $("textarea").val();
      var itemCatName = JSON.parse(($(".newItemCat").val())).name;
      var itemCatNumb = JSON.parse(($(".newItemCat").val())).numb;
      var itemPrice = $(".newItemPrice").val();
      var itemNumb = #{itemnumb};
      newItem.itemName = itemName;
      newItem.itemId = itemId;
      newItem.itemDesc = itemDesc;
      newItem.itemDescLong = itemDescLong;
      newItem.itemPrice = itemPrice;
      newItem.itemCatName = itemCatName;
      newItem.itemCatNumb = itemCatNumb;
      newItem.itemNumb = itemNumb;
      console.log((newItem));
      $.ajax({
        type:'POST',
        data:JSON.stringify(newItem),
        contentType:'application/json',
        url:'http://'+serverIP+'/new/item/success',
        success: function(res){
          console.log('success '+newItem);
          complete();
        }
      });
      $(".upload input[type=submit]").prop("disabled", false);
      $(".newItem input[type=text]").prop("disabled",true);
      $(".newItem input[type=submit]").prop("disabled",true);
      $(".upload").removeClass("hiddenForm");
      $(".newItem").addClass("hiddenForm");
    });

    $(".upload").on("submit",function(e){
      e.preventDefault();
      console.log(newItem);
        $.ajax({
          type:'POST',
          data:JSON.stringify(newItem),
          contentType:'application/json',
          url:'http://'+serverIP+'/new/picupload/picname',
          success: function(res){
            console.log('picture data up success: ' + newItem);
            console.log(newItem);
          }
        });
      $(".itemPic input[type=submit]").prop("disabled", false);
      $(".itemPic").removeClass("hiddenForm");
    });

    function complete(){
      var $span = $("<span>").text("Saved!");
      $(".completion").append($span);
    }
  script(src='/close.js')