body
  h1 Create New Item
  form(action="itemAdded",method="post",enctype="multipart/formdata")
    input(type="text",name="itemName")
    input(type="file",name="itemPhoto")
    input(type="submit",value="Create Item",name="submitItem")

  script(src='/jquery-1.11.3.js')
  script(src='/home.js')