link(rel="stylesheet", href="/style.css")

body
  h1 Create New Item
  form(class="newItem",enctype="multipart/form-data")
  
    div
      p New Item Name
      input(class="newItemName",type="text",name="itemName")
    div
      p Item Description
      input(class="newItemDesc",type="text",name="itemDesc")
    div
      p Item Price
      input(class="newItemPrice",type="text",name="itemPrice")
    div
      p In category:
      select(class="newItemCat")
    input(type="submit",value="Save Fields",name="saveFields")

    div(class="completion")
      span Hit 'Save Fields' to save and create this item.

  form(class="upload",enctype="multipart/form-data")
    span Upload picture? 
    input(type="submit",value="Open picture selection",name="select" disabled)
    
  form(class="itemPic",action="picupload",method="post",enctype="multipart/form-data")
    p
      input(type="file",name="itemPic")
    p  
      input(type="submit",value="Upload Picture",name="submit" disabled)

  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script.
    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getcategories',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        for(var i = 0; i < res.length; i++){
          appendList(res[i]);
          console.log(i);
        }
      }
    })
    function appendList(name){
      var $o = $("<option>").text(name.catname).attr('value',JSON.stringify({catname: name.catname, catnumb: name.catnumb }));
      $(".newItemCat").append($o);
    }
    var newItem = {};
    $('.newItem').on('submit',function(e){
      e.preventDefault();
      var itemName = $(".newItemName").val();
      var itemDesc = $(".newItemDesc").val();
      var itemCatName = JSON.parse(($(".newItemCat").val())).catname;
      var itemCatNumb = JSON.parse(($(".newItemCat").val())).catnumb;
      var itemPrice = $(".newItemPrice").val();
      var itemNumb = #{itemnumb}
      newItem.itemName = itemName;
      newItem.itemDesc = itemDesc;
      newItem.itemPrice = itemPrice;
      newItem.itemCatName = itemCatName;
      newItem.itemCatNumb = itemCatNumb;
      newItem.itemNumb = itemNumb;
      console.log((newItem));
      $.ajax({
        type:'POST',
        data:JSON.stringify(newItem),
        contentType:'application/json',
        url:'http://localhost:3000/new/item/success',
        success: function(res){
          console.log('success '+newItem);
          complete();
        }
      });
      $(".upload input[type=submit]").prop("disabled", false);
      $(".newItem input[type=text]").prop("disabled",true);
      $(".newItem input[type=submit]").prop("disabled",true);
    })

    $(".upload").on("submit",function(e){
    e.preventDefault();
    console.log(newItem);
      $.ajax({
        type:'POST',
        data:JSON.stringify(newItem),
        contentType:'application/json',
        url:'http://'+serverIP+'/new/picupload/picname',
        success: function(res){
          console.log('picture data up success: ' + newItem);
          console.log(newItem);
        }
      });
      $(".itemPic input[type=submit]").prop("disabled", false);
    });

    function complete(){
      var $span = $("<span>").text("Saved!");
      $(".completion").append($span);
    }
    

  script(src='/home.js')