link(rel='stylesheet', href='/style.css')
link(rel="stylesheet",href="/clearfix.css")

body
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  section(class="main")
    h1 Edit Homepage Picture List

    div(class="homeeditspace")
      div(class="option")
        p Would you like to add or delete a picture?
        button(class="homePicAdd") Add
        button(class="homePicDel") Delete
      form(class="picData hiddenForm",enctype="multipart/form-data")
        div
          p Image name:
          input(type="text",class="newPicName",name="newPicName")
        div
          p Image caption:
          input(type="text",class="newPicCaption",name="newPicCaption")
        div
          p Enter any descriptive text/details (optional):
          textarea(rows="4",cols="60",class="newPicDesc")
        input(type="submit",value="Save Fields",name="savefields")
        
      form(class="upload hiddenForm",enctype="multipart/form-data")
        span Upload picture? 
        input(type="submit",value="Open picture selection",name="select" disabled)

      form(class="itemPic hiddenForm",action="homepicupload",method="post",enctype="multipart/form-data")
        p
          input(type="file",name="homePic")
        p  
          input(type="submit",value="Upload Picture",name="submit" disabled)
      form(class="picDelete hiddenForm",enctype="multipart/form-data")
        div
          p Select the picture you wish to delete
          select(class="picListDelete")
        input(type="submit",value="Delete this picture", name="deletepicture")
          
  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script(src="/logoStill.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}";
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions;
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();
    
  script(src='/build.js')
  script(src='/categories.js')
  script.
    $(".homePicAdd").on("click",function(){
      $(".picData").removeClass("hiddenForm");
      $(".option").addClass("hiddenForm");
    });
    $(".homePicDel").on("click",function(){
      $(".picDelete").removeClass("hiddenForm");
      $(".option").addClass("hiddenForm");
    })

    var picData = {};
    $(".picData").on("submit",function(e){
      e.preventDefault();
      picData.name = $(".newPicName").val();
      picData.caption = $(".newPicCaption").val();
      picData.desc = $(".newPicDesc").val();
      $.ajax({
        type:"POST",
        data:picData,
        dataType:"application/json",
        url:"http://"+serverIP+"/user/homepage/setpic",
        success: function(res){
          console.log(res);
        }
      });
      $(".upload").removeClass("hiddenForm");
      $(".upload input[type=submit]").prop("disabled",false);
      $(".picData").addClass("hiddenForm");
    });

    $(".upload").on("submit",function(e){
      e.preventDefault();
      console.log(JSON.stringify(picData));
      $.ajax({
        type:"POST",
        data:JSON.stringify(picData),
        contentType:"application/json",
        url:"http://"+serverIP+"/user/homepage/homepicname",
        success: function(res){
        console.log(res);
        }
      });
      $(".upload").addClass("hiddenForm");
      $(".itemPic input[type=submit]").prop("disabled",false);
      $(".itemPic").removeClass("hiddenForm");
    });
    $.ajax({
      type:"GET",
      dataType:"json",
      url:"http://"+serverIP+"/user/homepage/getpictures",
      success:function(response){
        console.log(response);
        for(var i = 0; i < response.length; i++){
          var $option = $("<option>").attr("value",response[i].imagename).text(response[i].imagename);
          $(".picListDelete").append($option);
        }
      }
    });
    $(".picDelete").on("submit",function(){
      var pic = {};
      pic.name = $(".picListDelete").val();
      console.log(pic);
      $.ajax({
        type:"POST",
        dataType:"application/json",
        data:pic,
        url:"http://"+serverIP+"/user/homepage/deletepicture",
        success: function(res){
        
        }
      });
    });
  script(src='/close.js')