link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")


body
  
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact Us
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main")
    h1 Support

    div(class="rmaspace")
      h2 RMA Request Application
      div(class="rmaDetails")
      p Please fill in the form, and we will contact you shortly for confirmation. Thank you!
      form(class="rmafields",enctype="multipart/form-data")
        div(class="personaldetails cf")
          div(class="personal cf")
            p Your Name
            input(type="text",name="name",class="clientname")
          div(class="personal")
            p Company
            input(type="text",name="company",class="companyname")
          div(class="personal")
            p Email
            input(type="text",name="email",class="email")
          div(class="personal")
            p Phone Number
            input(type="text",name="phone",class="phone")
        div(class="addressdetails cf")
          div(class="addressblock")
            p Street Address
            input(type="text",name="street",class="street")
          div(class="addressblock")
            p City
            input(type="text",name="city",class="city")
          div(class="addressblock")
            p Province
            input(type="text",name="province",class="province")
          div(class="addressblock")
            p Postal Code
            input(type="text",name="postalcode",class="postalcode")
        div(class="rmaform")
        div(class="buttons")
          input(type="submit",value="submit",name="submitfields")
          button(class="submitanother",type="button") Submit and Add Another


  script(src="/jquery-1.11.3.js")
  script(src="/config.js")
  script(src="/logoStill.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}"
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();

    function cPanel(){
      var $ul = $("<ul>");
      var $a = $("<a>").text("Admin Panel").attr("href","/admin");
    }

  script(src='/build.js')
  script(src="/categories.js")
  script.
    $.ajax({
      type:"GET",
      dataType:"JSON",
      url:"http://"+serverIP+"/getrma",
      success: function(res){
        console.log(res);
        var $pDetails = $("<p>").text(res[0].tabtext);
        $(".rmaDetails").append($pDetails);
      }
    });
    var items = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/support/submit',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        items = res;
        for(var i = 0; i < items.length; i++){
          appendItem(i,items[i].itemname,items[i].itempicture1,items[i].itemnumb,items[i].itemdesc,items[i].price,items[i].currency);
        }
      }
    })
    var ent = 1;
    appendForm();
    function appendForm(){
      var $itemName = $("<input>").attr("type","text").attr("class","itemName" + ent);
      var $pName = $("<p>").text("Name of Item");

      var $itemCode = $("<input>").attr("type","text").attr("class","itemCode"+ent);
      var $pCode = $("<p>").text("Item Code");
      
      var $serialNumber = $("<input>").attr("type","text").attr("class","serialNumber" + ent);
      var $pSerialNumber = $("<p>").text("Serial Number");
      
      var $invoiceNumber = $("<input>").attr("type","text").attr("class","invoiceNumber" + ent);
      var $pInvoiceNumber = $("<p>").text("Invoice Number");

      var $quantity = $("<input>").attr("type","number").attr("class","quantity" + ent).val(0);
      var $pQuantity = $("<p>").text("Qty");
      
      var $invoiceMonth = $("<select>").attr("class","invoiceMonth" + ent);
      var monthNames= ["January","February","March","April","May","June","July","August","September","October","November","December"];
      for(var i = 0; i < 12; i++){
        var currentMonth = monthNames[i];
        var $optionMonth = $("<option>").text(currentMonth).val(i+1);
        $invoiceMonth.append($optionMonth);
      }
      var $pMonth = $("<p>").text("Invoice Month");
      
      var $invoiceDay = $("<select>").attr("class","invoiceDay" + ent);
      var $pDay = $("<p>").text("Day");

      var $invoiceYear = $("<select>").attr("class","invoiceYear" + ent);
      var currentYear = new Date().getFullYear();
      var howManyYears = 3;
      for(var i = currentYear; i > currentYear - howManyYears; i--){
        console.log(i);
        var $option = $("<option>").text(i).val(i);
        $invoiceYear.append($option);
      }
      var $pYear = $("<p>").text("Year");

      var $rmaDesc = $("<textarea>").attr("class","rmaDesc" + ent);
      var $pRmaDesc = $("<p>").text("Please describe the reason(s) for RMA");
      
      var $namediv = $("<div>").attr("class","namediv");
      $namediv.append($pName,$itemName);

      var $codediv = $("<div>").attr("class","codediv");
      $codediv.append($pCode,$itemCode);
      
      var $numberdiv = $("<div>").attr("class","numberdiv");
      $numberdiv.append($pSerialNumber,$serialNumber);
      
      var $invoicenodiv = $("<div>").attr("class","invoicenodiv");
      $invoicenodiv.append($pInvoiceNumber,$invoiceNumber);

      var $quantitydiv = $("<div>").attr("class","quantitydiv");
      $quantitydiv.append($pQuantity,$quantity);

      var $monthdiv = $("<div>").attr("class","monthdiv");
      $monthdiv.append($pMonth,$invoiceMonth);

      var $daydiv = $("<div>").attr("class","daydiv");
      $daydiv.append($pDay,$invoiceDay);

      var $yeardiv = $("<div>").attr("class","yeardiv");
      $yeardiv.append($pYear,$invoiceYear);

      var $descdiv = $("<div>").attr("class","descdiv");
      $descdiv.append($pRmaDesc,$rmaDesc);

      var $details = $("<div>").attr("class","details").addClass("cf");


      
      $details.append($namediv,$codediv,$numberdiv,$invoicenodiv,$quantitydiv,$monthdiv,$daydiv,$yeardiv);
      $(".rmaform").append($details,$descdiv);
    };
    
    function storeData(){
      var fullForm = {};
      var rma = {};
      var personal = {};
      fullForm.rma = [];

      personal.name = $(".clientname").val();
      personal.company = $(".companyname").val();
      personal.email = $(".email").val();
      personal.street = $(".street").val();
      personal.city = $(".city").val();
      personal.prov = $(".province").val();
      personal.postal = $(".postalcode").val();
      personal.phone = $(".phone").val();
      if(creds.getUser() == "" || creds.getUser() == null){
        personal.user = 'none';
      } else {
        personal.user = creds.getUser();
      }

      rma.item = $(".itemName" + ent).val();
      rma.code = $(".itemCode"+ent).val();
      rma.number = $(".serialNumber" + ent).val();
      rma.invoice = $(".invoiceNumber" + ent).val();
      rma.invDay = $(".invoiceDay" + ent).val();
      rma.invMonth = $(".invoiceMonth" + ent).val();
      rma.invYear = $(".invoiceYear" + ent).val();
      rma.quantity = $(".quantity" + ent).val();
      rma.description = $(".rmaDesc" + ent).val();
      
      fullForm.rma.push(rma);
      fullForm.personal = personal;
      console.log(fullForm);
      $.ajax({
        type:"POST",
        data:JSON.stringify(fullForm),
        contentType:"application/json",
        url:"http://"+serverIP+"/support/submit",
        success:function(res){
          console.log('stored');
          console.log(res);
          complete();
        }
      })

    };
    $(".rmafields").on("submit",function(){
      var store = storeData();
    });

    $(".submitanother").on("click",function(){
      var store = storeData();
      $("input").attr("disabled","true");
      $("select").attr("disabled","true");
      $("textarea").attr("disabled","true");
      ent++;
      var append = appendForm();
      monthChange();
    });
    
    function monthDays(days){
      for(var i = days; i > 0; i--){
        var $option = $("<option>").text(i).val(i);
        $(".invoiceDay" + ent).prepend($option);
      }
    }
    monthDays(31);
    function monthChange(){
      $(".invoiceMonth" + ent).on("change",function(){
        console.log("Changing");
        $(".invoiceDay" + ent).children("option").remove();
        var mo = $(".invoiceMonth" + ent).val();
        if(mo == 1 || mo == 3 || mo == 5 || mo == 7 || mo == 8 || mo == 10 || mo == 12){
          monthDays(31);
        } else if(mo == 4 || mo == 6 || mo == 9 || mo == 11){
          monthDays(30);
        } else {
          monthDays(29);
        }
      });
    }
    
    $(".invoiceMonth" + ent).on("change",function(){
      console.log("Changing");
      $(".invoiceDay" + ent).children("option").remove();
      var mo = $(".invoiceMonth" + ent).val();
      if(mo == 1 || mo == 3 || mo == 5 || mo == 7 || mo == 8 || mo == 10 || mo == 12){
        monthDays(31);
      } else if(mo == 4 || mo == 6 || mo == 9 || mo == 11){
        monthDays(30);
      } else {
        monthDays(29);
      }
    });
  script(src='/close.js')