link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")


body
  
  header(class="cf")
    div(class="logo")
      a(href="/")
        img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main")
    h1 Support

    div(class="rmaspace")
      h2 RMA Request Application
      p Please fill in the form, and we will contact you shortly for confirmation. Thank you!
      form
        div(class="personaldetails cf")
          div(class="personal cf")
            p Your Name
            input(type="text",name="name",class="clientname")
            p Company
            input(type="text",name="company",class="companyname")
            p Email
            input(type="text",name="email",class="email")
          div(class="addressblock")
            p Street Address
            input(type="text",name="street",class="street")
          div(class="addressblock")
            p City
            input(type="text",name="city",class="city")
          div(class="addressblock cf")
            p Province
            input(type="text",name="province",class="province")
        div(class="rmaform")


  script(src="/jquery-1.11.3.js")
  script(src="/config.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}"
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();

    function cPanel(){
      var $ul = $("<ul>");
      var $a = $("<a>").text("Admin Panel").attr("href","/admin");
    }

  script(src='/build.js')
  
  script.  
    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getcategories',
      dataType:'JSON',
      success: function(res){
        for(var i = 0; i< res.length; i++){
          appendp(res[i].catname,res[i].catnumb);
        }
      }
    })
    function appendp(name,numb){
      var $a = $("<a>").text(name).attr("href","/category/"+numb+"/products");
      var $p = $("<p>").append($a);
      $(".sidebar").append($p);
    }
    
    var items = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/support/submit',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        items = res;
        for(var i = 0; i < items.length; i++){
          appendItem(i,items[i].itemname,items[i].itempicture1,items[i].itemnumb,items[i].itemdesc,items[i].price,items[i].currency);
        }
      }
    })
    appendForm();
    function appendForm(){
      var $itemName = $("<input>").attr("type","text").attr("class","itemName");
      var $pName = $("<p>").text("Name of Item");
      
      var $serialNumber = $("<input>").attr("type","text").attr("class","serialNumber");
      var $pSerialNumber = $("<p>").text("Serial Number");
      
      var $invoiceNumber = $("<input>").attr("type","text").attr("class","invoiceNumber");
      var $pInvoiceNumber = $("<p>").text("Invoice Number");

      var $quantity = $("<input>").attr("type","text").attr("class","quantity");
      var $pQuantity = $("<p>").text("Qty");
      
      var $invoiceMonth = $("<select>").attr("class","invoiceMonth");
      var monthNames= ["January","February","March","April","May","June","July","August","September","October","November","December"];
      for(var i = 0; i < 12; i++){
        var currentMonth = monthNames[i];
        var $optionMonth = $("<option>").text(currentMonth).val(i+1);
        $invoiceMonth.append($optionMonth);
      }
      var $pMonth = $("<p>").text("Invoice Month");
      
      var $invoiceDay = $("<select>").attr("class","invoiceDay");
      var $pDay = $("<p>").text("Day");

      var $invoiceYear = $("<select>").attr("class","invoiceYear");
      var currentYear = new Date().getFullYear();
      var howManyYears = 3;
      for(var i = currentYear; i > currentYear - howManyYears; i--){
        console.log(i);
        var $option = $("<option>").text(i).val(i);
        $invoiceYear.append($option);
      }
      var $pYear = $("<p>").text("Year");

      var $rmaDesc = $("<textarea>").attr("class","rmadesc");
      var $pRmaDesc = $("<p>").text("Please describe the reason(s) for RMA");
      
      var $namediv = $("<div>").attr("class","namediv");
      $namediv.append($pName,$itemName);
      
      var $numberdiv = $("<div>").attr("class","numberdiv");
      $numberdiv.append($pSerialNumber,$serialNumber);
      
      var $invoicenodiv = $("<div>").attr("class","invoicenodiv");
      $invoicenodiv.append($pInvoiceNumber,$invoiceNumber);

      var $quantitydiv = $("<div>").attr("class","quantitydiv");
      $quantitydiv.append($pQuantity,$quantity);

      var $monthdiv = $("<div>").attr("class","monthdiv");
      $monthdiv.append($pMonth,$invoiceMonth);

      var $daydiv = $("<div>").attr("class","daydiv");
      $daydiv.append($pDay,$invoiceDay);

      var $yeardiv = $("<div>").attr("class","yeardiv");
      $yeardiv.append($pYear,$invoiceYear);

      var $descdiv = $("<div>").attr("class","descdiv");
      $descdiv.append($pRmaDesc,$rmaDesc);

      var $details = $("<div>").attr("class","details").addClass("cf");
      
      $details.append($namediv,$numberdiv,$invoicenodiv,$quantitydiv,$monthdiv,$daydiv,$yeardiv);
      $(".rmaform").append($details,$descdiv);
    };
    
    function monthDays(days){
      for(var i = days; i > 0; i--){
        var $option = $("<option>").text(i).val(i);
        $(".invoiceDay").prepend($option);
      }
    }
    monthDays(31);
    $(".invoiceMonth").on("change",function(){
      $(".invoiceDay").children("option").remove();
      var mo = $(".invoiceMonth").val();
      if(mo == 1 || mo == 3 || mo == 5 || mo == 7 || mo == 8 || mo == 10 || mo == 12){
        monthDays(31);
      } else if(mo == 4 || mo == 6 || mo == 9 || mo == 11){
        monthDays(30);
      } else {
        monthDays(29);
      }
    });