link(rel='stylesheet', href='/style.css')
link(rel="stylesheet",href="/clearfix.css")

body
  header(class="cf")
    div(class="logo")
      a(href="/")
        img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
    p
  section(class="main")
    h1 Current RMA Requests

    div(class="rmaview")
    
  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}";
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions;
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();

    function cPanel(){
      var $ul = $("<ul>");
      var $a = $("<a>").text("Admin Panel").attr("href","/admin");
    }
    
  script(src='/build.js')

  script.
    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getcategories',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        for(var i = 0; i < res.length; i++){
          appendp(res[i].catname,res[i].catnumb);
        }
      }
    })
    
    function appendp(name, numb){
      var $a = $("<a>").text(name).attr("href","/category/"+numb+"/products");
      var $p = $("<p>").append($a);
      $(".sidebar").append($p);
    }

    $.ajax({
      type:"GET",
      url:"http://"+serverIP+"/support/gettickets",
      dataType:"JSON",
      success:function(res){
        console.log(res);
        for(var i = 0; i < res.ticket.length; i++){
          res.ticket.sort(function(a,b){
            if(a.supportticket > b.supportticket){
              return 1;
            }
            if(a.supportticket < b.supportticket){
              return -1;
            }
            return 0;
          });
          res.personal.sort(function(a,b){
            if(a.supportticket > b.supportticket){
              return 1;
            }
            if(a.supporttickt < b.supportticket){
              return -1;
            }
            return 0;
          });
          var t = res.ticket[i];
          var n = 0;
          for(var j = 0; j < res.personal.length; j++){
            console.log(res.personal[j].supportticket);
            if(res.personal[j].supportticket == res.ticket[i].supportticket){
              n = j;
              console.log(n);
            }
          }
          console.log(res.ticket[i].supportticket);
          console.log(res.personal[n].supportticket);
          var p = res.personal[n];
          appendrma(t.supportticket,p.date,t.itemname,t.serialnumber,t.invoicenumber,t.invoicedate,t.quantity,t.rmadesc,t.status,p);
        }
      }
    });

    function appendrma(tnumber,date,name,snumber,inumber,idate,quantity,desc,stat,personal){
      var $div = $("<div>").attr("class","rma"+tnumber).addClass("rma cf");
      var $divBrief = $("<div>").addClass("rmaBrief"+tnumber+" rmaBrief cf")
      var $pticket = $("<p>").text(tnumber);
      var $pdate = $("<p>").text(date);
      var $pname = $("<p>").text(name);
      var $pserial = $("<p>").text(snumber);
      var $pinvoice = $("<p>").text(inumber);
      var $pidate = $("<p>").text(idate);
      var $pqty = $("<p>").text(quantity);
      var $pdesc = $("<p>").text(desc);
      if(creds.getPermissions() == "superuser" || creds.getPermissions() == "support"){
        var $status = $("<input>").attr("class","status"+tnumber).val(stat);
        var $details = $("<button>").addClass("details"+tnumber).text("More Details");
        var $saveStatus = $("<button>").addClass("saveStatus"+tnumber).text("Save Status");
        $divBrief.append($pticket,$pdate,$pname,$pserial,$pinvoice,$pidate,$pqty,$pdesc,$status,$details,$saveStatus);
        var $divDetail = $("<div>").addClass("rmaDetails"+ tnumber+" rmaDetails cf hideDetails");
        var $aEmail = $("<a>").attr("href","mailto:"+personal.email).text(personal.email);
        var $spanClose = $("<span>").text(")")
        var $pPerson = $("<p>").text("Request from: "+personal.name + " (").append($aEmail,$spanClose);
        var $pCompany = $("<p>").text("Company: "+ personal.company);
        var $pAddress = $("<p>").text("Company Address: "+personal.addressstreet+", "+personal.addresscity+", "+personal.addressprovince+", "+personal.postal);
        $divDetail.append($pPerson,$pCompany,$pAddress);
        $div.append($divBrief,$divDetail);
        $(".rmaview").append($div);
        $(".details"+tnumber).on("click",function(){
          if($(".rmaDetails"+tnumber).hasClass("hideDetails")){
            $(".rmaDetails"+tnumber).removeClass("hideDetails");
            $(".details"+tnumber).text("Less Details");
          } else {
            $(".rmaDetails"+tnumber).addClass("hideDetails");
            $(".details"+tnumber).text("More Details");
          }
        });
        $(".saveStatus"+tnumber).on("click",function(){
          var current = {};
          current.status = $(".status"+tnumber).val();
          current.ticket = tnumber;
          $.ajax({
            type:"POST",
            dataType:"application/json",
            data: current,
            url:"http://"+serverIP+"/support/updatestatus",
            success: function(res){
            }
          })
          $(".status"+tnumber).prop("disabled", true);
          $(".saveStatus"+tnumber).prop("disabled",true);
        });
      } else if (creds.getPermissions() == "client"){
        var $status = $("<p>").attr("class","status").text(stat);
        $div.append($pticket,$pdate,$pname,$pserial,$pinvoice,$pidate,$pqty,$pdesc,$status);
        $(".rmaview").append($div);
      }
    }

  script(src='/close.js')