link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")

body
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact Us
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main")
    h1 Search Catalogue

    div(class="resultsspace cf")

  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script(src='/logoStill.js')
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}"
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();
    
  script(src='/build.js')
  script(src='/categories.js')
  script.
    var columncount = 0;
    function searchResults(column, forShow){
      $.ajax({
        type:"GET",
        dataType:"json",
        url:"http://"+serverIP+"/search/results/success/"+column,
        success: function(res){
          if(res.length > 0){
            appendResults(forShow,res,res.length);
            columncount++;
            console.log(columncount);
            $(".typeDiv").css({"width": 1*100/columncount+"%"});
          }
        }
      });
    }
    searchResults('itemname','item names');
    searchResults('itemid','item codes');
    searchResults('itemdesclong','item descriptions');
    function appendResults(type, result, number){
      var $divType = $("<div>").addClass("typeDiv");
      var $header = $("<h3>").text("Searching "+ "'#{results}'" + " within " + type);
      var $p = $("<p>").text("Listing "+number+" result(s):");
      $divType.append($header, $p);

      for(var i = 0; i < result.length; i++){
        var $divResult = $("<div>").addClass("resultDiv resultDiv"+i);
        var $divImg = $("<div>").addClass("searchImage");
        var $img = $("<img>").attr("src","/uploads/"+ result[i].itempicture1 + ".jpg");
        $divImg.append($img);
        var $pName = $("<p>");
        var $aName = $("<a>").attr("href","/category/"+result[i].itemcatnumb+"/products/"+result[i].itemnumb).text(result[i].itemname);
        var $spanIn = $("<span>").text(" in ");
        var $aCat = $("<a>").attr("href","/category"+result[i].itemcatnumb+"/products").text(result[i].itemcat);
        $pName.append($aName,$spanIn,$aCat);
        var $pDesc = $("<p>").text(result[i].itemdesc);
        $divResult.append($divImg,$pName,$pDesc);
        $divType.append($divResult);
      }
      $(".resultsspace").append($divType);
    }
  script(src='/close.js')