link(rel='stylesheet', href='/style.css')
link(rel="stylesheet",href="/clearfix.css")

body
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  section(class="main")
    h1 User Panel

    div(class="panelspace")
    
  script(src='/jquery-1.11.3.js')
  script(src='/config.js')
  script(src="/logoStill.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}";
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions;
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();
    
  script(src='/build.js')
  script(src='/categories.js')
  script.
    if(creds.getPermissions() == "superuser"){
      var $aNew = $("<a>").attr("href","../new").text("Create new Item/Category/User");
      var $pNew = $("<p>").append($aNew);
      var $aView = $("<a>").attr("href","user/view").text("View RMA requests, user data/activity")
      var $pView = $("<p>").append($aView);
      var $aModify = $("<a>").attr("href","user/modify").text("Modify an existing Item/Category/User")
      var $pModify = $("<p>").append($aModify);
      var $aTabEntries = $("<a>").attr("href","user/entries").text("Modify main tab entries")
      var $pTabEntries = $("<p>").append($aTabEntries);
      var $aHomePage = $("<a>").attr("href","user/homepage").text("Edit home page and add/delete specials");
      var $pHomePage = $("<p>").append($aHomePage);
      var $aRemove = $("<a>").attr("href","user/remove").text("Remove an Item/Category/User")
      var $pRemove = $("<p>").append($aRemove);
      $(".panelspace").append($pNew, $pView, $pModify, $pTabEntries, $pHomePage, $pRemove);
    } else if (creds.getPermissions() == "support"){
      var $aNew = $("<a>").attr("href","../new").text("Create new Item/Category");
      var $pNew = $("<p>").append($aNew);
      var $aView = $("<a>").attr("href","user/view").text("View RMA requests")
      var $pView = $("<p>").append($aView);
      var $aModify = $("<a>").attr("href","user/modify").text("Modify an existing Item/Category")
      var $pModify = $("<p>").append($aModify);
      var $aHomePage = $("<a>").attr("href","user/homepage").text("Edit home page and add/delete specials");
      var $pHomePage = $("<p>").append($aHomePage);
      var $aRemove = $("<a>").attr("href","user/remove").text("Remove an Item/Category")
      var $pRemove = $("<p>").append($aRemove);
      $(".panelspace").append($pNew, $pView, $pModify, $pHomePage, $pRemove);
    } else if(creds.getPermissions() == "client"){
      var $aView = $("<a>").attr("href","user/view").text("View RMA requests")
      var $pView = $("<p>").append($aView);
      $(".panelspace").append($pView);
    } else {
      var $aView = $("<a>").attr("href","/login").text("Please log in to view panel")
      var $pView = $("<p>").append($aView);
    }

  script(src='/close.js')