*{
    box-sizing:border-box;
}
/* fonts */

@font-face {
    font-family: 'News Cycle';
    src: url('fonts/newscycle-regular-webfont.eot');
    src: url('fonts/newscycle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/newscycle-regular-webfont.woff2') format('woff2'),
         url('fonts/newscycle-regular-webfont.woff') format('woff'),
         url('fonts/newscycle-regular-webfont.ttf') format('truetype'),
         url('fonts/newscycle-regular-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'Oswald',sans-serif;
    margin:0;
    padding:0;
    background:white;
    /* background:rgba(0,51,102,1); */
    overflow-x:hidden;
}


.hidden, .hidden p, .hidden p button{
    /* display:none; */
    /* transition: all 0.5s ease-in; */
}

.hiddenForm{
    display:none;
}

.appear{
    font-size: 12px;
    border-bottom:1px dashed rgba(255,150,100,1);
    border-left:1px dotted rgba(255,100,100,1);
    /* border-right:1px solid black; */
}
.appear button{
    padding-left:3%;
    padding-top:5%;
    padding-bottom:5%;
}

.invisible{
    border-bottom:none;
    border-left:none;
    border-right:none;
    opacity:0;
    /* height:0; */
    font-size:0px;
    margin:0;
    /* transition: all 0.5s ease-in; */
}
.invisible button{
    padding-top:0;
    padding-bottom:0;
    margin:0;
}

h1{
    color:purple;
}

section.main{    
    background-color:rgb(255,255,255);
    /* border-top-left-radius:10px; */
    /* min-height:100vh; */
    /* padding-left:10px; */
    /* margin-left:200px; */
    margin: 0 50px;
    padding: 0 0;
}
header{
    height:157px;
    position:relative;
    text-align:center;
    background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(0,51,102,1));
    z-index:4;
    transition:all 1s ease;
}
canvas{
    position:absolute;
    width:800px;
    left:40;
    transition: all 1s ease;
}
header .logo {
    float:left;
}

header .login{
    float:right;
    padding-right:2%;    
}

header .toolbar {
    text-align:center;
    position:absolute;
    bottom:0;
    left:3%;
    transition: all 1s ease;
}

header .toolbar ul{
    width:320px;
    bottom:0;
    margin:0 0 0 0;
    padding:0;
    text-align:center;
    overflow:hidden;
}

header .toolbar ul li{
    text-decoration:none;
    float:left;
    padding-left:1%;
    padding-right:1%;
    text-decoration:none;

}

header a{
    text-decoration:none;
    color:white;
    transition: all 1s ease;
}
header a:hover{
    color: rgba(255,200,200,1);
    transition: all 0.25s ease;
}
header span{
    color:white;
}
header .login{
    position:absolute;
    right:0;
    bottom:0;
    margin:0;
}

section.sidebar{
    /* height:100vh; */
    z-index:3;
    margin-left:-210px;
    margin-top:0;
    width:210px;
    /* float:left; */
    left:0;
    top:157;
    position:absolute;
    text-align:right;
    padding-right:15px;
    background-color:rgba(0,0,0,0.7);
    transition:all 0.25s ease;
}
.catExpand{
    position:absolute;
    left:0;
    top:157px;
    height:150px;
    margin:0;
    background:black;
    width:45px;
    transition: all 1s ease;
}
.catExpand div{
    position:relative;
    width:100%;
    height:65%;;
}
.expand{
    position:absolute;
    transform: rotate(270deg);
    border:none;
    padding:0;
    margin:0;
    left: -50px;
    bottom:0;
    color:white;
    width:100px;
    background:none;
    transition: all 0.25s ease;
}
.catExpand p{
    margin:0;
}
/* section.sidebar:hover{ */
/*     margin-left:0; */
/* } */

section.sidebar button {
    font-family:'Oswald',sans-serif;
    font-size:inherit;
    width: 98%;
    text-decoration: none;
    border:none;
    /* background-color: rgba(100,100,200,1); */
    background:none;
    color:rgba(255,255,255,1);
    margin-top:0;
    margin-bottom:0;
    padding-bottom:0;
    text-align: left;
    /* transition: all 0.25s ease; */
}

section.sidebar .mainCat{
    margin-left:1%;
    margin-right:1%;
    padding-top:10%;
    padding-right:0;
    border-bottom: 2px solid rgba(200,150,100,1);
    border-top:none;
    border-right:none;
    border-left:none;
    transition:all 0.25s ease;
}
.childp{
    text-align:left;
    padding-left:3%;
}

.subCatp {margin:0;}
.catp{margin:0;}


.catdiv:hover .mainCat{
    color:rgba(255,102,102,1);
    background:(255,255,255,0.9);
    /* transition: all 1s ease; */
}

button.subCatp:hover button{
    color:rgba(255,102,102,1);
}

.subCatp:hover a {
    color:white;
}

.catp {
    margin-top:0;
    text-align:right;
}

.subCatp {
    /* background-color:rgba(255,255,255,0.2); */
    margin:0;
    float:right;
    text-align:left;   
    /* opacity:1; */
    /* height:auto; */
    transition: all 0.25s ease;
}
.catdiv{
    text-align:right;
    font-size:12px;
}
.subCatp1{background-color:rgba(255,255,255,0.2);width:90%;}
.subCatp2{background-color:rgba(255,255,255,0.5);width:80%;}
.subCatp3{background-color:rgba(255,255,255,0.7);width:70%;}

/*homepage */
.invisHome{
    opacity:0;
}

.reelspace {
    font-family:'News Cycle', sans-serif;
    position:relative;
    width:80%;
    margin:0 10% 0 10%;
    text-align:center;
}
.imagereel{
    position:absolute;
    top:0;
    /* left:0; */
    width:100%;
    height:100%;
    text-align:center;
    /* object-fit:cover; */
    transition:all 0.25s ease;
    overflow:hidden;

}
.imagereel img{
    float:left;
    width:75%;
    /* height:100%; */
    object-fit:cover;
    transition: all 0.25s ease;
}
.imagereel .reelDesc{
    position:absolute;
    color:white;
    background:rgba(0,0,0,0.4);
    top:0;
    width:75%;
    padding:0 auto;
    margin:0 25% 0 0;
    left:0;
    transition: all 0.25s ease;
}
.reelCaption{
    margin:0 0 0 75%;
    left:0;
    width:25%;
    padding:0 auto;
    position:absolute;
    background:rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.4);
    color:rgba(0,0,0,0.7);
    transition: all 0.25s ease;
}
.imagereel .selected{
    background:black;
    color:white;
}
.arrivalspace, .clearancespace{
    font-family:'News Cycle', sans-serif;
    margin: 2% 0 0 0;
    position:relative;
    float:left;
    width:100%;
}
.arrivalspace h3, .clearancespace h3{
    margin:1%;
}
.arrivalReel{
}

.arrivalseditspace, .clearanceseditspace{
    font-family:'News Cycle', sans-serif;
}
.arrival, .clearance{
    position:absolute;
    width:20%;
    text-align:center;
    float:left;
    transition:all 0.5s ease-in;
}
.arrival .imgdiv, .clearance .imgdiv{
    width:100%;
    height:100%;
    overflow:hidden;
}
.arrival img, .clearance img{
    height:100%;
}
.arrival p, .clearance p{
    margin:0;
}
.hidereelRight{
    opacity:0;
}
.arrivalReel {
    overflow:hidden;
}
.arrivalReel button, .clearanceReel button{
    position:absolute;
    width:50px;
    height:15vh;
    background:rgba(0,0,0,0.8);
    color:white;
    border:none;
    font-size:22px;
    transition:all 0.25s ease;
    z-index:2;
}
.arrivalReel button:disabled, .clearanceReel button:disabled{
    color:black;
}
.arrivalReel button:hover, .clearanceReel button:hover{
    font-size:40px;
    background:rgba(0,0,0,0.2);
    color:red;
}
.arrivalReel .leftbutton, .clearanceReel .leftbutton{
    left:-50;
}
.arrivalReel .rightbutton, .clearanceReel .rightbutton{
    right:-50;
}

/* for items listing in specific Category*/
.main h1, .main h2{
    margin-top:0;
}

h3 {
    
}

.itemspace {
    width:100%;
    font-family:'News Cycle', sans-serif;
}

.itemspace .item{
    width: 20%;
    height:30vh;
    float:left;
    /* margin-left:1%; */
    /* margin-right:1%; */
    text-align:center;
    overflow:hidden;
    position:relative;
    font-size:10px;
}
.itemspace .item:hover .divText{
    top:50%;
    height:50%;
}
.itemspace .item:hover .divText p{
    opacity:1;
}
.itemspace img{
    /* position:absolute; */
    /* margin:auto; */
    /* top:0; */
    /* left:0; */
    /* right:0; */
    /* bottom:0; */
    width:100%;
    height:100%;
    object-fit:cover;
}

.itemspace p, .itemspace h3 {
    margin:0;
    line-height:20px;
}
.itemspace p {
    color:rgb(200,200,200);
}
.itemspace a {
    color:white;
    margin:0;
}
.itemspace .divText{
    top:80%;
    left:0%;
    width:100%;
    height:20%;
    position:absolute;
    background:rgba(0,0,0,0.5);
    z-index:2;
    overflow:hidden;
    transition:all 0.2s ease;
}

.itemspace .divText p{
    opacity:0;
    transition:all 0.2s ease;
}


/*single item display*/

.singleItem img{
    width: 50%;
    padding: 0 2%;
    float:left;
}

.longDesc {
    white-space:pre-wrap;
}


/*RMA support*/
.rmaspace{
    font-family:'News Cycle',sans-serif;
}

.addressblock {
    margin-top:20px;
    margin-right: 20px;
    float:left;
    text-align:left;
}

.details div{
    float:left;
}

/*viewing RMA*/

.rma p {
    font-family:'News Cycle',sans-serif;
    float:left;
    width: 9%;
    margin:1%;
}

/* creating new*/

.newspace, .newitemspace{
    font-family:'News Cycle',sans-serif;
}

/* editing tab areas*/

.tabeditspace{
    font-family:'News Cycle', sans-serif;
}
.tabeditspace .submitText{
    
}

/*tab display*/
.businessSpace{
    width:50%;
    float:left;
}
.businessSpace p{
    white-space:pre-wrap;
    font-family:'News Cycle', sans-serif;
}
.pictureSpace{
    width:50%;
    float:left;
}